[package]
name = "indicatif"
description = "A progress bar and cli reporting library for Rust"
version = "0.17.0-beta.1"
keywords = ["cli", "progress", "pb", "colors", "progressbar"]
authors = ["Armin Ronacher <armin.ronacher@active-4.com>", "Dirkjan Ochtman <dirkjan@ochtman.nl>"]
license = "MIT"
repository = "https://github.com/mitsuhiko/indicatif"
documentation = "https://docs.rs/indicatif"
readme = "README.md"
edition = "2018"
exclude = ["screenshots/*"]

[dependencies]
regex = { version = "1.3.1", default-features = false, features = ["std"] }
lazy_static = "1.0"
number_prefix = "0.4"
console = { version = "0.15.0", default-features = false }
unicode-segmentation = { version = "1.6.0", optional = true }
unicode-width = { version = "0.1.7", optional = true }
rayon = { version = "1.0", optional = true }
tokio = { version = "1.0", optional = true, features = ["fs", "io-util"] }

[dev-dependencies]
rand = "0.8"
structopt = "0.3"
tokio = { version = "1.0", features = ["time", "rt"] }

[features]
default = []
improved_unicode = ["unicode-segmentation", "unicode-width", "console/unicode-width"]

# Legacy alias for `rayon`
with_rayon = ["rayon"]
