[package]
name = "indicatif"
version = "0.1.0"
authors = ["Armin Ronacher <armin.ronacher@active-4.com>"]

[dependencies]
libc = "0"
parking_lot = "0"
regex = "0.2"
lazy_static = "0.2"
unicode-width = "0.1"

[target.'cfg(windows)'.dependencies]
winapi = "0"
kernel32-sys = "0"
